$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Modules
@import "./modules/_carousel.scss";

.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

.container {
  padding: 10px 0;
  @media (min-width: $screen-lg-min) {
    width: 1014px;
  }
}
